<div class="hero-unit">
  <div class="span1 offset3">
    <img src="<%= gravatar_url @current_user.email %>">
  </div>
  <div class="span4">
    <h1><%= @current_user.email %></h1>
  </div>
</div>

<%= render 'form' %>