div.hero-unit
  div.span1.offset3
    img src={gravatar_url @user.email}
  div.span4
    h1 = @user.email

div.row
  div.span6
    h2 Timezone
    = form_for @user, html: {class: 'form-horizontal'} do |f|
      = f.time_zone_select :timezone
      = f.submit 'Update', class: 'btn btn-primary'

  div.span6
    h2 Tokens
    ul
      - @user.tokens.each do |token|
        li
          = token.key
          = link_to token, confirm: 'Are you sure?', method: :delete do
            i.icon-remove-circle

    = form_for @token, html: {class: 'form-horizontal'} do |f|
      = f.text_field :key, placeholder: 'API Token', class: 'input-xlarge'
      = f.submit 'Create', class: 'btn btn-primary'