<div class="row">
  <div class="span1 offset3">
    <img src="<%= gravatar_url session[:email] %>">
  </div>
  <div class="span4">
    <h1><%= session[:email] %></h1>
  </div>
</div>

<%= render 'form' %>