<% content_for :navbar_left do %>
  <li class="active"><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'Sessions', sessions_url %></li>
  <li><%= link_to 'Profile', user_url %></li>
<% end %>

<div class="row">
  <div class="span10"><h1>welcome <%= session[:email] %></h1></div>
</div>