<img id="authenticate" src="https://browserid.org/i/sign_in_red.png" alt="sign in button - red">
<form id="authenticate_form" action="/home/login" method="post">
  <textarea id="assertion" name="assertion"></textarea>
  <input type="submit" value="go" />
</form>
