<div class="row">
  <div class="span10"><h1>welcome</h1></div>
  <div class="span2">
    <a href="#" id="authenticate"><i class="icon-lock"></i> login</a>
  </div>
</div>

<div class="row">
  <div class="span12">
    <p>This is just some awesome content that will fill across the screen</p>
  </div>
</div>