<% content_for :navbar_right do %>
  <li><a href="#" id="authenticate"><i class="icon-lock icon-white"></i> login</a></li>
<% end %>

<div class="hero-unit">
  <h1>Quantify your life</h1>
</div>

<div class="row">
  <div class="span12"><h1>welcome</h1></div>
</div>